@model CarouselItemModel.Properties.PageViewModel

@section HeaderSection{
    <link href="~/Content/Plugins/63bits-bsforms/forms.css" rel="stylesheet" />
    <link href="~/Content/Plugins/Fancybox/jquery.fancybox.min.css" rel="stylesheet" />
}

<div class="actions-row">
    <button type="submit" class="btn btn-circle btn-primary js-save-button" form="CarouselPropertiesForm"><i class="fas fa-save"></i></button>
</div>
<div class="card">
    <div class="card-body">
        <form id="CarouselPropertiesForm" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="form-group col-lg-4">
                    <label>Published?</label>
                    <label class="toggler toggler-lg">
                        <input type="checkbox" id="IsPublishedChechBox" name="@nameof(Model.IsPublished)" value="true" @(Model.IsPublished ? Html.Raw("checked") : null) />
                        <i></i>
                    </label>
                </div>
                <div class="form-group col-lg-4">
                    <label>Url</label>
                    <input id="SlugTextBox" type="text" name="@nameof(Model.CarouselUrl)" class="form-control" value="@Model.CarouselUrl" />
                    <p class="help-block">
                        <span class="error-text"></span>
                    </p>
                </div>
                <div class="form-group col-lg-4">
                    <label>Upload Image</label>
                    <div class="input-group custom-file-group js-custom-file-upload">
                        <div class="form-control">
                            <a class="js-attachment js-image-attachment" href="@Html.Raw(Model.CarouselImageHttpPath)">@Html.Raw(Model.CarouselImageFilename)</a>
                            <span class="js-new-attachment hidden"></span>
                        </div>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-warning hidden js-clear-button"><i class="fa fa-times"></i></button>
                            @if (Model.HasCarouselImage)
                            {
                                <button type="button" data-url="@Html.Raw(Model.UrlCarouselImageDelete)" data-text-confirm="@Html.Raw(Model.Form.TextConfirmDeleteAttachment)" class="btn btn-danger js-delete-button"><i class="fas fa-trash-alt"></i></button>
                            }
                            <span class="btn btn-default custom-file-upload">
                                <i class="fas fa-folder-open"></i>
                                <input type="file" name="@nameof(Model.CarouselImagePostedFile)" accept="" />
                            </span>
                        </span>
                    </div>
                    <span class="help-block"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-12">
                    <label>Title</label>
                    <input type="text" name="@nameof(Model.CarouselCaption)" class="form-control" value="@Model.CarouselCaption" />
                    <p class="help-block">
                        <span class="error-text"></span>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-12">
                    <label>Text</label>
                    <textarea name="@nameof(Model.CarouselText)" class="form-control apply-tinymce">@Html.Raw(Model.CarouselText)</textarea>
                </div>
            </div>
        </form>
    </div>
</div>

@section FooterSection{
    <script src="~/Content/Plugins/63bits-bsforms/forms.js"></script>
    <script src="~/Content/Plugins/Tinymce/tinymce.min.js"></script>
    <script src="~/Content/Plugins/Tinymce/jquery.tinymce.min.js"></script>
    <script src="~/Content/Plugins/Tinymce/TinyMceHelper.js"></script>

    <script src="~/Content/Plugins/Fancybox/jquery.fancybox.min.js"></script>
    <script src="~/Content/Plugins/Fancybox/FancyMethods.js"></script>
    <script src="~/Areas/Admin/Content/Scripts/Carousel/CarouselItem.js"></script>

    @if (Model.Form.HasErrors)
    {
        <script>
        $(function(){
            Validation.Init({ErrorsJson:@Html.Raw(Model.Form.ErrorsJson)}).ShowErrors();
        });
        </script>
    }

}