@model AccountModel.PasswordChangeModel.PageViewModel
@{
    Layout = ViewNames.Website.Account.Layout;
}

<div class="container xs">    
    <div class="form" id="ChangePasswordForm">
        <form method="post">
            <div class="form-group">
                <label>Current Password</label>
                <input class="form-control" type="password" value="@Model.OldPassword" name="@nameof(Model.OldPassword)">
                <span class=" help-block error-text"></span>
            </div>
            <div class="form-group">
                <label>New Password</label>
                <input class="form-control" type="password" value="@Model.NewPassword" name="@nameof(Model.NewPassword)">
                <span class=" help-block error-text"></span>
            </div>
            <div class="form-group">
                <label>Repeate Password</label>
                <input class="form-control" type="password" value="@Model.NewPasswordRepeat" name="@nameof(Model.NewPasswordRepeat)">
                <span class=" help-block error-text"></span>
            </div>

            <button class="btn primary-btn submit-btn" type="submit">Submit</button>
        </form>
    </div>
</div>


@section FooterSection{
    <script src="~/Content/Plugins/63bits-bsforms/forms.js"></script>
    @if (Model.Form.HasErrors)
    {
        <script>
            $(function(){
                Validation.Init({ErrorsJson:@Html.Raw(Model.Form.ErrorsJson)}).ShowErrors();
            });
        </script>

    }    
}